.Locations-grid {
    margin-top:50px;
    padding:50px;
    background-color: #F7F7F7;
    border-radius: 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-content: space-between;

}