@import 'styles/mixins.scss';

.about {
  &__container {
    width: 80%;
    margin-inline: auto;

    @include mobile {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;

    @include mobile {
      padding: 20px 0;
      gap: 20px;
    }
  }
}
