@import 'styles/mixins.scss';

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 20px;

  @include mobile {
    gap: 5px;
  }
}

.star {
  width: 30px;
  height: 30px;

  @include mobile {
    width: 15px;
    height: 15px;
  }

  &--fill {
    color: var(--color-primary);
  }

  &--empty {
    color: var(--color-grey);
  }
}
