.location {
    display: flex;
    flex-direction: column;
    gap:20px;

}

.location__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.location__heading {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.location__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}


.location__host{
    display: flex;
    align-items: center;
    gap:20px;
}
.location__host img {
    border-radius: 50%;
    height:64px;
    width: 64px;
    object-fit: cover;
}



.location__description {
   display: flex; 
   gap: 50px;
   margin: 30px 0 30px 0;
}

.location__title {
    font-weight: 500;
    font-size: 36px;
}