:root {
  --color-primary: #ff6060;
  --color-light-grey: #f7f7f7;
  --color-grey: #e3e3e3;
  --color-black: #000000;
  --color-white: #ffffff;

  --font-s: 14px;
  --font-m: 18px;
  --font-l: 24px;
  --font-xl: 36px;
  --font-xxl: 48px;
}

// var(--color-black);

// Colors
$color-primary: #ff6060;
$color-secondary: #f7f7f7;

// Font
$font-m: 18px;

// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;
