.card {
    /* height:200px;
    width:200px; */
    height: 340px;
    background-color: #FF6060;
    background: linear-gradient(#FF6060 0%, rgba(0,0,0,0.8) 200%);
/* 
    background: rgb(2,0,36);
    background: linear-gradient(rgba(255,96,96,1)0%, rgba(2,0,36,0.7343312324929971) 80% ); */


    border-radius: 10px;
    /* background-color: #FF6060; */
    /* position: relative; */
}

/* .card::after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    
} */

.card__img {
    height:250px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.card__title {
    width:80%;
    padding:20px;
    font-size: 18px;
    font-weight: 500;
    color:white;
}