.dropdown {
  background-color: var(--color-light-grey);
  border-radius: 10px;

  .header {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-inline: 20px;
  }

  .body {
    overflow: hidden;
    max-height: 500px;
    padding: 20px;
    transition: all 0.4s ease-in-out;
    line-height: 1.7em;

    &--open {
      max-height: 0;
      line-height: 1.5em;
      padding: 0 20px;
    }
  }

  h2 {
    font-size: var(--font-l);
    font-weight: 500;
  }

  button {
    cursor: pointer;
    fill: var(--color-white);
    transform: rotateZ(-90deg);
    transition: transform 0.35s, fill 0.2s;

    svg {
      height: 24px;
      width: 24px;
    }

    &:hover {
      fill: var(--color-black);
    }

    &[aria-expanded='true'] {
      transform: rotateZ(90deg);
    }
  }
}
