.home {
  &__container {
    margin: 50px 0 50px;
    padding: 50px;
    background-color: var(--color-light-grey);
    border-radius: 25px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-content: space-between;
  }
}
