.header {
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    height: 68px;
  }
}

.nav {
  ul {
    display: flex;
    gap: 2em;
  }

  &__link {
    font-size: var(--font-l);
  }
}
